<div class="pddingtop login-container" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="mat-card-custom" fxFlex="90%" fxFlex.gt-md="40%" fxFlex.gt-sm="60%">
        <mat-card-title class="mat-card-title-custom mat-card-title-custom-bg">Create User</mat-card-title>
        <mat-card-content class="mat-card-content-custom">
            <notification></notification>
            <form class="create-container" [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
                <mat-form-field>
                    <input matInput placeholder="First Name" formControlName="firstName" required>
                    <mat-error *ngIf="f.firstName.invalid">First Name is required</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Last Name" formControlName="lastName" required>
                    <mat-error *ngIf="f.lastName.invalid">Last Name is required</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Email Id" formControlName="email" required>
                    <mat-error *ngIf="f.email.invalid">Email is required and must valid</mat-error>
                </mat-form-field>
                
               
                <mat-form-field>
                    
                    <input placeholder="Password" matInput formControlName="password" type="password" required />
                    
                    <mat-error *ngIf="f.password.invalid">Password is required and Password must be at least 6 characters</mat-error>
        
                   
                </mat-form-field>
                <div class="form-group">
                    <button [disabled]="loading" mat-raised-button color="primary">Create</button>
                    <!-- <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                    /> -->
                    <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>